<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangzhich.sneakerlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.fangzhich.sneakerlab.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.WelcomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.ProductDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderConfirmedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.ReviewListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.PhotoViewPagerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.UserInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.NotificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderHistoryActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.CurrencyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.LanguageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.ContactActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SupportActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.ReturnPolicyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SettingActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>