<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fangzhich.sneakerlab">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.fangzhich.sneakerlab.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="io.fabric.ApiKey" android:value="39c06db02d46dda5f9aac41e437bebf66347fbd6" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!--<provider android:authorities="com.facebook.app.FacebookContentProvider1234"-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:exported="true" />-->

        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.ui.ForgetPasswordActivity"
            android:theme="@style/AppTheme" />

        <!--FaceBook Login-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"
            android:label="@string/app_name" />
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider637256776443104"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <!--Facebook login in chrome custom tab-->
        <!--<activity-->
            <!--android:name="com.facebook.CustomTabActivity"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="@string/facebook_app_id" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.SplashActivity"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.WelcomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.ProductDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderConfirmedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.ReviewListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.product.ui.PhotoViewPagerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.UserInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.PersonalCenterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.user.ui.NotificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderHistoryActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.order.ui.OrderReviewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.CurrencyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.LanguageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.ContactActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SupportActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_SUPPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.ReturnPolicyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.fangzhich.sneakerlab.main.ui.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".order.ui.RefundActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.ui.WishListActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".base.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".base.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>